@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

:root {
    --white: #FFF;
    --pink: #FF4655;
    --blue: #101222;
    --black:#000;
    --fonte-padrao: 'Source Sans 3';
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}

body {
    background: url(../images/background.jpg) center center no-repeat fixed;
    background-size: cover;
}

/* HEADER */

header {
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(22, 22, 22);
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    list-style: none;
}

/* MAIN */

main {
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 100px;
}

main h3 {
    width: 300px;
    text-align: left;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.letter { 
    display: none;
}

.container-letter {
    margin-bottom: 20px;
}

.container-letter img {
    width: 50%;
}


main p {
    width: 300px;
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

main h2 {
    color: white;
    width: 300px;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

main a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 15px 60px;
    background-color: var(--pink);
    border: 1px solid white;
    
}

/* RODAPÉ */

footer {
   display: block; 
   width: 300px;
   margin: auto;
   margin-bottom: 50px;
}

footer p {
    font-size: 11px;
    color: white;
    opacity: .8;
}

@media screen and (min-width: 768px){
    header {
        display: block;
        margin: auto;
        width: 500px;
        padding: 10px 10px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: rgb(22, 22, 22);
    }

    main {
        width: 500px;
        display: block;
        margin: auto;
        margin-bottom: 100px;
    }
    
    main h3 {
        width: 500px;
        text-align: left;
        color: white;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .letter { 
        display: flex;
        gap: 40px;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        opacity: .8;
    }

    .letter:hover {
        opacity: 1;
    }
    
    .container-letter {
        margin-bottom: 20px;
    }
    
    .container-letter img {
        width: 60%;
    }

    main p {
        width: 490px;
        color: white;
        font-size: 14px;
        margin-bottom: 20px;
    }

    main h2 {
        color: white;
        width: 400px;
        font-size: 1.5em;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    main a {
        text-decoration: none;
        font-weight: 700;
        color: white;
        padding: 15px 75px;
        background-color: var(--pink);
        border: 1px solid white;
    }

    footer {
        display: block; 
        width: 500px;
        margin: auto;
        margin-bottom: 50px;
     }
     
     footer p {
         font-size: 11px;
         color: white;
         opacity: .8;
     }
}    

@media screen and (min-width: 992px) {  
    
    header {
        display: block;
        margin: auto;
        width: 600px;
        padding: 10px 10px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: rgb(22, 22, 22);
    }

    main {
        width: 600px;
        display: block;
        margin: auto;
        margin-bottom: 100px;
    }
    
    main h3 {
        width: 500px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .letter { 
        gap: 40px;
        color: white;
        text-transform: uppercase;
        opacity: .8;
        margin-left: 0px;
    }

    .letter:hover {
        opacity: 1;
    }
    
    .container-letter {
        margin-bottom: 20px;
        margin-left: 0px;
    }
    
    .container-letter img {
        width: 60%;
        margin-left: 0px;
    }

    main p {
        width: 490px;
        color: white;
        font-size: 14px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    main h2 {
        color: white;
        width: 400px;
        font-size: 1.5em;
        text-transform: uppercase;
        margin-bottom: 40px;
        margin-left: 0px;
    }

    main a {
        text-decoration: none;
        font-weight: 700;
        color: white;
        padding: 15px 75px;
        background-color: var(--pink);
        border: 1px solid white;
        margin-left: 0px;
    }

    footer {
        width: 600px;
        display: block;
     }
     
     footer p {
         font-size: 11px;
         color: white;
         opacity: .8;
     }
}